language: python
python:
  - "3.7"
env:
  - PYTHONPATH=./retail_stats
# command to install dependencies
install:
  - pip install -r requirements.txt
  - pip install -r requirements-ci.txt
# command to run tests
script:
  - coverage run -m pytest
after_success:
  - coveralls